@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.App {
  text-align: center;
}

.ant-layout {
  background-color: #621dd0;
  height: 100%;
  padding: 12px 12px;
}

.ant-empty-description {
  color: white;
  font-size: 24px;
}

/* --------------------- */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

